.container {
    width: 960px;
    margin: 0 auto;
}

.menu li {
    display: inline-block;
}

h1 {
    font-size: 18px;
}

.contacts li {
    display: inline-block;
}

.contacts li span {
    display: inline-block;
    color: darkblue;
    font-size: 18px;
    font-weight: 800;
    margin-right: 40px;
}

.ava {
    float: left;
    margin-right: 50px;
}

.clear {
    clear: both;
    margin-top: 22px;
}